<div id="wrapper">
	<main id="main">
		<div class="container">
			<div class="row">
				<div class="col-sm-3" id="col-nav" ng-include="'logs.html'">
				</div>
				<div class="col-xs-12 col-sm-9">
					<div class="content" id="content_recettes_new">
						
						<h1 class="page-title">Nouvelle recette</h1>

						<section class="section">
							<form ng-submit="recettesNew.submitNewRecettes()">
								<div class="row">
									<div class="col-xs-6">
										<p class="line">
											<label for="">Le nom de votre recette</label>
											<input ng-model="recettesNew.new.name" type="text" class="mb0 wide" required>
										</p>
										<p class="line">
											<label for="">Catégorie</label>
											<select ng-model="recettesNew.new.category" name="" id="" class="mb0 wide">
                                                <option ng-repeat="category in categories" value="{{category.id}}">{{category.nameToDisplay}}</option>
											</select>
										</p>
										<p class="line">
											<label for="">Préparation de votre recette</label>
											<textarea ng-model="recettesNew.new.preparation" id="recette_desc" class="resizable mb0 wide" required></textarea>
										</p>
									</div>
									<div class="col-xs-6">
										<p class="line">
											<label for="">Photo de la recette</label>
											<input fileread="recettesNew.new.picture" type="file" class="mb0">
										</p>
										<p class="line ac">
											<img class="current_img" ng-src="{{recettesNew.new.picture}}" alt="Visuel recette">
										</p>
									</div>
									<div class="col-xs-12">
										<div class="hr mt2 mb2"></div>
									</div>
									<div class="col-xs-12">
										<p class="line ac">
											<label for="">Sélectionnez tous les ingrédients de votre recette</label>
										</p>
										<p class="ac">
											<select ng-model="recettesNew.categorySelected" name="" id="">
                                                <option value="all">Toutes les catégories</option>
												<option ng-repeat="category in categories" value="{{category.id}}">{{category.nameToDisplay}}</option>
											</select>
											<span class="span-label"><span class="glyphicon glyphicon-menu-right nm"></span></span>
											<select ng-model="recettesNew.ingredientSelected" name="" id="">
												<option ng-repeat="ingredient in ingredients | filter:(recettesNew.categorySelected === 'all'? undefined : {category: recettesNew.categorySelected})" value="{{ingredient.name}}">{{ingredient.name}}</option>
											</select>
											<button ng-click="recettesNew.addIngredient()" type="button" class="btn btn_color3"><span class="glyphicon glyphicon-plus"></span></button>
										</p>
										<div class="ingredients_list">
											<ul class="list ac">
												<li class="item" ng-repeat="ing in recettesNew.new.ingredients">
													<img class="item-img" ng-src="img/ingredients/{{ing.picture}}" alt="{{ing.name}}">
													<p class="item-name" title="ing.name">{{ing.name}}</p>
													<button ng-click="recettesNew.removeIngredient(ing)" type="button" class="remove_ingredient"><span class="glyphicon glyphicon-remove"></span></button>
												</li>
											</ul>
										</div>
										<div class="ac">
											<p class="recette_total_calories">
												<span class="tit">Valeur calorique <span class="mass">(100g)</span> : </span><span class="val">{{recettesNew.new.calories}}<span class="unit">kcal</span></span>
											</p>
										</div>
									</div>
									<div class="col-xs-12">
										<div class="hr mb2"></div>
									</div>
									<div class="col-xs-12 ac">
                                            <input type="submit" class="btn btn_color3 recette_save" value="Valider ma recette">
									</div>

									<!-- Afficher au clic sur "valider ma recette" lorsque tout s'est bien déroulé -->
									<div ng-show="recettesNew.isGood" class="col-xs-12">
										<p class="ac mt2 tb">
											<span class="glyphicon glyphicon-thumbs-up color3"></span>
											<span>Votre recette a bien été ajoutée !</span>
										</p>
										<p class="ac">
											<a class="btn btn_color1" href="#/profile/{{user.firstname}}/{{user.surname}}"><span class="glyphicon glyphicon-cutlery"></span><span>Mes recettes</span></a>
										</p>
									</div>

									<!-- Afficher au clic sur "valider ma recette" si certains éléments sont manquants -->
									<div ng-show="recettesNew.isWrong" class="col-xs-12">
										<p class="ac mt2 tb">
											<span class="glyphicon glyphicon-exclamation-sign color2"></span>
											<span>Woops ! Votre recette est super foireuse</span>
										</p>
										<p class="ac">Vous avez dû oublier quelque chose...</p>
									</div>
								</div>
							</form>
						</section>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>
<div ng-include="'connexionForm.html'"></div>